{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
        <h1> Insert your csv file and then see your predictions </h1>
    </div>
      <div class="w3-row">
        
            <form action="/FLASK" method="post" enctype="multipart/form-data">
                <!--<label for="file-upload" class="w3-button w3-padding-large w3-white w3-border">
                    File
                </label>-->
                <input id="file-upload" type="file" name="data_file"/>
                <br>
                <br>
                <div>
                <button type="submit" class="button">Predict</button>
            </div>
            </form>
        </div>
        
  </div>
  

  <hr>

  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">

        {{table | safe}}

    </div>

</div>    

  <!--

</br>
</br>
<h1> Insert your CSV file and then download the Result </h1>
    <form action="/transform" method="post" enctype="multipart/form-data">
        <input type="file" name="data_file" class="w3-button w3-padding-large w3-white w3-border"/>
        </br>
        </br>
        <button type="submit" class="w3-button w3-padding-large w3-white w3-border">Predict</button>
    </form>


-->
{% endblock %}
